<div class="row pictogram">
    <div class="col-md-12">
        <h3>Pictogram</h3>
        <div class="row">
            <div class="row form-inline">
                <div ng-show="viewMode=='teacher'">
                    <div class="form-group">
                        <label>Title</label>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="settings.pictogram.title" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Series Value</label>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="settings.pictogram.seriesValue" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Symbol Value</label>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="settings.pictogram.symbolValue" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" maxlength="2" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Symbol Width</label>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="settings.pictogram.symbolWidth" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Symbol Height</label>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="settings.pictogram.symbolHeight" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Symbol</label>
                    </div>
                    <div class="form-group" ng-if="uploader">
                        <input type="file" nv-file-select uploader="uploader" /> 
                    </div>                
                    <div class="form-group">
                        ({{ uploader.queue[0].file.size/1024|number:2 }} KB) 
                    </div>                  
                    <br />    
                    <div class="form-group ng-scope" ng-repeat="item in uploader.queue">
                        <div ng-thumb="{ file: item._file, height: 50 }" style="display: none;"></div>                    
                    </div>
                    <div class="form-group">
                        <label class="long">Score only if every point value is correct</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model="settings.pictogram.strictPunctuation" class="form-control" />
                    </div>
                    <canvas id="output-canvas" style="display: none;"></canvas>
                </div>
                <div>
                    <div class="form-group" ng-show="viewMode=='teacher'">
                        <label>Keys</label>
                    </div>
                    <div class="form-group" >
                        <div class="guide-references" ng-repeat="k in settings.pictogram.keys" refresh-options="item">
                            <div class="form-group image-content">
                                <div id="guide-image-{{k.value}}" class="guide-image"></div>                                
                            </div>                            
                            <input type="text" ng-model="k.meaning" class="form-control" ng-show="viewMode=='teacher'" />
                            <strong ng-show="viewMode=='student'">= {{k.meaning}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-scope-element="pictogramDrawingContainer"></div>
                </div>
                <div class="col-md-6" ng-show="viewMode=='teacher'">
                    <div>
                        <div class="row">
                            <div class="col-md-2"><a href="javascript:void(0)" class="btn btn-primary" ng-click="engine.pictogram.addSerie(settings)">Add Series</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Label</div>
                            <div class="col-md-2">Value</div>
                            <div class="col-md-2">Worth</div>
                        </div>
                        <div ng-repeat="p in settings.pictogram.series">
                            <div class="row">
                                <div class="col-md-2">
                                    <input ng-model="p.label" ng-enter="engine.redraw(settings)" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input ng-model="p.value" ng-enter="engine.pictogram.changeValue(settings,p)" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input ng-model="p.worth" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:void(0)" class="btn btn-danger" ng-click="engine.pictogram.removeSerie(settings,p)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>