<div class="row pie-chart">
    <div class="col-md-12">
        <h3>Pie Chart</h3>
        <div class="row">
            <div class="row form-inline" ng-show="viewMode=='teacher'">
                <div class="form-group">
                    <label>Title</label>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="settings.pieChart.title" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Total Area</label>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="settings.pieChart.totalArea" ng-enter="engine.pieChart.changeArea(settings)" ng-blur="engine.pieChart.changeArea(settings)" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Scale</label>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="settings.pieChart.scale" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <label class="long">Show labels outside of Pie</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="settings.pieChart.labelOutsideLocation" ng-change="engine.redraw(settings)"  class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <label class="long">Score only if every point value is correct</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="settings.pieChart.strictPunctuation" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="pieChartDrawingContainer" ng-scope-element="pieChartDrawingContainer"></div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="row">
                            <div class="col-md-2"><a href="javascript:void(0)" class="btn btn-primary" ng-click="engine.pieChart.addSlice(settings)">Add Slice</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Label</div>
                            <div class="col-md-2">Value</div>
                            <div class="col-md-2" ng-show="viewMode=='teacher'">Worth</div>
                        </div>
                        <div ng-repeat="p in settings.pieChart.slices">
                            <div class="row">
                                <div class="col-md-2">
                                    <input ng-model="p.label" ng-enter="engine.redraw(settings)" ng-blur="engine.redraw(settings)" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input ng-model="p.value" ng-enter="engine.pieChart.changeValue(settings,p)" ng-blur="engine.pieChart.changeValue(settings,p)" class="form-control" />
                                </div>
                                <div class="col-md-2" ng-show="viewMode=='teacher'">
                                    <input ng-model="p.worth" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:void(0)" class="btn btn-danger" ng-click="engine.pieChart.removeSlice(settings,p)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

