@{
    Layout = null;
}

<style>
    .row {
        margin-left: inherit !important;
        margin-right: inherit !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h3>Divide and Select Shape  <span ng-show="viewMode=='student'">- Student Mode</span></h3>
        <div class="form-inline" ng-show="viewMode=='teacher'">
            <label for="canvas-type">Shape type</label>
            <select ng-model="settings.shapeType" ng-change="shapeTypeChanged(settings.shapeType)" ng-options="ct.name for ct in shapeTypes track by ct.id" class="form-control"></select>
        </div>

        <div ng-show="settings.shapeType.id == 'polygon-shape'">@Html.Partial("DivideAndSelectTemplates/polygonShape");</div>
        <div ng-show="settings.shapeType.id == 'circle-shape'">@Html.Partial("DivideAndSelectTemplates/circleShape");</div>
        <div ng-show="settings.shapeType.id == 'rectangle-shape'">@Html.Partial("DivideAndSelectTemplates/rectangleShape");</div>
        <div ng-show="settings.shapeType.id == 'star-shape'">@Html.Partial("DivideAndSelectTemplates/starShape");</div>
    </div>
</div>


<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
