<script src="~/Scripts/questionTypes/OnlineDwEditor.js"></script>
<script src="~/Scripts/questionTypes/multipleDragAndDrop2.js"></script>

<div class="tab-content my-tab-center">    
    <!-- QUESTIONS -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Question Text</div>
                <div id="divQBody" runat="server" class="qEditor qBody" title="Click to edit the question body">
                    <span>Click to edit...</span>
                </div>
                <input type="hidden" value="" id="hfQBody" runat="server" ClientIDMode="Static"  />
                Display answers side by side (if not selected, up and down):&nbsp<input type="checkbox" id="cboxAnswersVertically">
                <br /><br />
            </div>
        </div>
    </div>

    <!-- ANSWERS  -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="MultipleDragAndDropContainer">
                <div class="panel panel-primary">
                    <div class="panel-heading">Options</div>
                    <div id="MultipleDragAndDropAnswers"></div>
                    <div class="row" style="padding: 10px;">
                        <div class="panel-body">
                            <div id="divAnswerEditor" runat="server" class="qEditor" title="Click to edit the question body">
                                <span>Click to edit...</span>
                            </div>
                            <input type="hidden" value="" id="hfAnswerEditor" runat="server" ClientIDMode="Static"  />
                        </div>
                        <div class="col-md-12">
                            <input type="button" value="Add Option" id="multipleDragAndDrop_AddAnswer" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">Answers</div>
                    <div id="MultipleDragAndDropOptions"></div>
                    <div class="row" style="padding: 10px;">
                        <div class="panel-body">
                            <div id="divOptionEditor" runat="server" class="qEditor" title="Click to edit the question body">
                                <span>Click to edit...</span>
                            </div>
                            <input type="hidden" value="" id="hfOptionEditor" runat="server" ClientIDMode="Static"  />
                        </div>
                        <div class="col-md-12">
                            <input type="button" value="Add Answer" id="multipleDragAndDrop_AddOption" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTES  -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <textarea class="textarea-note" placeholder="enter comments  about this question (optional)" id="multipleDragAndDrop_Notes"></textarea>
    @*                    <div style="width: 130px;">
                        <input type="text" id="worthQuestion2" style="width: 50px;" placeholder="Worth"/>
                        pts
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="footer-answer" style="display:block;padding-top:100px;text-align:center;">
            <button id="btnMultipleDragAndDrop_Preview" class="btn btn-info" data-toggle="modal" data-target="#multipleDragAndDrop_Preview">Preview</button>
            <button class="btn btn-success" id="bntMultipleDragAndDrop_Save">Save</button>
        </div>
    </div>

    <!-- EDITOR SECTION -------->
    <div id="odwDialog" style="display:none;">
        <textarea id="odwEditor"></textarea>
    </div>

    <!-- PREVIEW SECTION -------->
    <div class="modal fade" id="multipleDragAndDrop_Preview"
        data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="multipleDragAndDrop_Preview" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="multipleDragAndDrop_closeModal">Close</button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body">
                    <p id="multipleDragAndDrop_questionContainer"></p>

                    <div id="multipleDragAndDropPreviewContainer">
                        <div class="panel panel-default" style="padding: 10px;">
                            <div id="MultipleDragAndDropPreviewAnswers">
                            </div>
                        </div>
                    </div>
                    <div id="multipleDragAndDropOptionsPreviewContainer" class="panel panel-default" style="padding: 10px;">
                        <div id="MultipleDragAndDropPreviewOptions">
                        </div>
                    </div>
                    <p id="multipleDragAndDrop_result"></p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="multipleDragAndDrop_submitAnswer" class="btn btn-primary" value="Submit Answer" />
                </div>
            </div>
        </div>
    </div>

    <!-- TEMPLATES SECTION -------->
    <div id="multipleDragAndDrop_AnswerTemplate" class="hidden">
        <div class="qeditor-answer">
            <div class="btn btn-primary draggable-answer AnswerOption_75px_55px" data-val="{{id}}">
                {{answer}}
            </div>
            <div>
                <a href="javascript:void(0)" class="multipleDragAndDrop_DeleteAnswer icon-delete" data-val="{{id}}">Delete</a>
            </div>
        </div>
    </div>


    <div id="multipleDragAndDrop_OptionTemplate" class="hidden">
        <div class="qeditor-option">
            <div class="droppable-option btn btn-success AnswerOption_75px_55px" data-val="{{id}}" id="{{div_id}}">
                {{answerText}}
            </div><br/>
            <div style="font-weight: bold">
                {{option}}
            </div>
            <div>
                <span id="{{span_id}}"><p style="text-decoration: underline">Allowed Options:</p></span><br />
                <a href="javascript:void(0)" class="multipleDragAndDrop_DeleteOption icon-delete" data-val="{{id}}">Delete</a>
            </div>
        </div>
    </div>

    <div id="multipleDragAndDrop_PreviewAnswerTemplate" class="hidden">
        <div class="btn btn-primary draggable-answer AnswerOption_75px_55px" data-val="{{id}}">
            {{answer}}
        </div>
    </div>


    <div id="multipleDragAndDrop_PreviewOptionTemplate" class="hidden">
        <div class="qeditor-option">
            <div class="droppable-option btn btn-success AnswerOption_75px_55px" data-val="{{id}}" id="{{div_id}}">
                {{answerText}}
            </div><br><br>
            <div>
                {{option}}
            </div>
        </div>
    </div>

    <!-- IMPORTANT: Required to display the floating Toolbox from the Question Creator page -------->    
    <br />
</div>
