<script src="~/Scripts/questionTypes/OnlineDwEditor.js"></script>
<script src="~/Scripts/questionTypes/multipleDragAndDropImage.js"></script>

<div class="tab-content my-tab-center">  
    <!-- QUESTIONS -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Question Text</div>
                <div class="panel-body">
                    <div id="divQBody" runat="server" class="qEditor qBody" title="Click to edit the question body">
                        <span>Click to edit...</span>
                    </div>
                    <input type="hidden" value="" id="hfQBody" runat="server" ClientIDMode="Static"  />
                </div>
            </div>
        </div>
    </div>

    <!-- ANSWERS  -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="MultipleDragAndDropImageContainer">
                <div class="panel panel-primary">
                    <div class="panel-heading">Options</div>
                    <div class="panel panel-default divAnswerImages" id="MultipleDragAndDropImageAnswers"></div>
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-12 MultiplDragAndDropImage_AddAnswer">
                            <div class="fileUpload btn btn-primary">
                                <span>Select Images</span>
                                <input type="file" class="upload" id="multipleDragAndDropImage_AddAnswer" name="files[]" multiple />
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">Answers</div>
                    <div class="panel panel-default divCorrectAnswerImages" id="MultipleDragAndDropImageCorrectAnswers"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTES  -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <textarea class="textarea-note" placeholder="enter comments  about this question (optional)" id="multipleDragAndDropImage_Notes"></textarea>
    @*                <div style="width: 130px;">
                        <input type="text" id="worthQuestion6" style="width: 50px;" placeholder="Worth"/>
                        pts
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="footer-answer" style="display:block;padding-top:100px;text-align:center;">
            <button id="btnMultipleDragAndDropImage_Preview" class="btn btn-info" data-toggle="modal" data-target="#multipleDragAndDropImage_Preview">Preview</button>
            <button class="btn btn-success" id="bntMultipleDragAndDropImage_Save">Save</button>
        </div>
    </div>

    <!-- EDITOR SECTION -------->
    <div id="odwDialog" style="display:none;">
        <textarea id="odwEditor"></textarea>
    </div>

    <div class="modal fade" id="multipleDragAndDropImage_Preview"
        data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="multipleDragAndDropImage_Preview" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="multipleDragAndDropImage_closeModal">Close</button>
                    <h4 class="modal-title">Preview</h4>
                </div>
                <div class="modal-body">
                    <p id="multipleDragAndDropImage_questionContainer"></p>

                    <div id="multipleDragAndDropImagePreviewContainer">
                        <div class="panel panel-default" style="padding: 10px;">
                            <div id="MultipleDragAndDropImagePreviewAnswers" class="divAnswerImages" style="min-height: 10px; min-width: inherit;">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="padding: 10px;">
                        <div id="MultipleDragAndDropImagePreviewCorrectAnswers" class="divCorrectAnswerImages" style="min-height: 10px; min-width: inherit;">
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <!-- IMPORTANT: Required to display the floating Toolbox from the Question Creator page -------->    
    <br />
</div>